/* myapp/static/myapp/styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
       min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 200px;
    flex-grow: 1; /* Allow the main content to expand and fill the available space */

}
footer {
    background-color: #333;
    color: #fff;
    padding: 100px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

